## Complete Python Notes

###### Presented by Christy sara  saji

#### Python is an interpreted, object-oriented and high-level programming language. [Python is 1st compiled and then interpreted. the compilation part is hidden from the programmers, thus, programmers believe that is an intepreted language.]

#### Python was developed by Guido Van Rossum in 1980s.

In [233]:
# Variables  ( only alpha-numerical characters and underscores should have, must not start with a number)
x = 5
y = 'Joe'
print(x,y)

5 Joe

In [11]:
# casting (specifying data types)
x = str(3)
y = float(8)
print(x)
print(y)

3
8.0

In [13]:
# type() function (gives data types)
x = 'George'
y = 5.5
print(type(x))
print(type(y))

<class 'str'>
<class 'float'>

In [20]:
# python variables are case-sensitive
a = 6
A = 'rona'
print(A)

rona

#### Multi-word variable names techniques:
###### 1. camel case: myVariableName = 'John'
###### 2. pascal case: MyVariableName = 'john'
###### 3. snake case: my_variable_name = 'john'

#### Global variables( variables created outside of the function) & local variable( inside of the function)

In [11]:
x = 'awesome'            # global variable
def myfunc():
    x = 'fantastic'      #local variable
    print("python is " + x)
myfunc()
print("python is " + x)

python is fantastic
python is awesome

#### Python datatypes
##### str, int, float, bool, list, tuple, set, dict

### String functions

In [33]:
# 1. length: len ()
a = 'Hello world'
print(len(a))

11

In [35]:
# 2.slicing strings 
a = 'Hello world'
print(a[2:5])
print(a[:7])
print(a[-6:-2])

llo
Hello w
 wor

In [37]:
# 3. upper()
a = 'Hello world'
print(a.upper())

HELLO WORLD

In [39]:
# 4. lower()
a = 'Hello WORld'
print(a.lower())

hello world

In [41]:
# 5. strip() removes whitespace from beginning and end
a = ' Hello, world  '
print(a.strip())

Hello, world

In [45]:
# 6. Replace()
a = 'Hello world'
print(a.replace('H', 'C'))

Cello world

In [53]:
# 7. split() splits the string into substrings
a = 'Hello ,  world'
print(a.split(','))

['Hello ', '  world']

In [59]:
# 8. concatenation 
a = 'hello'
b = 'priya'
c = a+ " " + b
print(c)

hello priya

In [73]:
# 9. capitalize()  makes 1st letter in capital and rest in lower
fur = 'hey RIYA'
print(fur.capitalize())

Hey riya

In [65]:
# 10. count() return the no. of times a value appears
fur = 'hey baby, sweety is my baby'
print(fur.count('baby'))

2

In [71]:
# 11. find() returns the 1st occurence of the value
fur = 'Hello, Welcome to Gisma'
print(fur.find('Gisma'))

18

In [83]:
# 12. fsrings or format method: combining number into the string
age = 23
txt = f" My name is Christy, I am {age} years old."    # age:.Nf to decimals values where N is no. of decimal places
print(txt)

 My name is Christy, I am 23 years old.

In [85]:
# "in" and "not in" keywords to check a character is present or not.
txt = " The table is really expensive."
print('table ' in txt)
print('world' not in txt)

True
True

### Operators

#### 1. Arithmetic operators
| Operator | Name           | Example  | Result | Meaning                       |
| -------- | -------------- | -------- | ------ | ----------------------------- |
| `+`      | Addition       | `5 + 2`  | `7`    | Adds two numbers              |
| `-`      | Subtraction    | `5 - 2`  | `3`    | Subtracts second from first   |
| `*`      | Multiplication | `5 * 2`  | `10`   | Multiplies numbers            |
| `/`      | Division       | `5 / 2`  | `2.5`  | Regular division (float)      |
| `//`     | Floor Division | `5 // 2` | `2`    | Divides and returns the whole number |
| `%`      | Modulus        | `5 % 2`  | `1`    | Remainder of division         |
| `**`     | Exponentiation | `2 ** 3` | `8`    | 2 raised to power 3           |

#### 2.Comparison operators
| Operator | Description           | Example  | Result  |
| -------- | --------------------- | -------- | ------- |
| `==`     | Equal to              | `5 == 5` | `True`  |
| `!=`     | Not equal to          | `5 != 3` | `True`  |
| `>`      | Greater than          | `5 > 3`  | `True`  |
| `<`      | Less than             | `5 < 3`  | `False` |
| `>=`     | Greater than or equal | `5 >= 5` | `True`  |
| `<=`     | Less than or equal    | `5 <= 6` | `True`  |

#### 3. Assignment operators
| Operator | Description         | Example   | Meaning          |
| -------- | ------------------- | --------- | ---------------- |
| `=`      | Assign value        | `x = 5`   | Assigns 5 to `x` |
| `+=`     | Add and assign      | `x += 2`  | `x = x + 2`      |
| `-=`     | Subtract and assign | `x -= 1`  | `x = x - 1`      |
| `*=`     | Multiply and assign | `x *= 3`  | `x = x * 3`      |
| `/=`     | Divide and assign   | `x /= 2`  | `x = x / 2`      |
| `//=`    | Floor divide assign | `x //= 2` | `x = x // 2`     |
| `%=`     | Modulus and assign  | `x %= 3`  | `x = x % 3`      |
| `**=`    | Exponent and assign | `x **= 2` | `x = x ** 2`     |

#### 4.Logical operators
| Operator | Description                      | Example          | Result  |
| -------- | -------------------------------- | ---------------- | ------- |
| `and`    | True if **both** are True        | `True and False` | `False` |
| `or`     | True if **at least one** is True | `True or False`  | `True`  |
| `not`    | Reverses the boolean value       | `not True`       | `False` |

#### 5. Membership Operators
| Operator | Description                          | Example              | Result |
| -------- | ------------------------------------ | -------------------- | ------ |
| `in`     | Returns True if value exists         | `'a' in 'apple'`     | `True` |
| `not in` | Returns True if value does not exist | `'x' not in 'apple'` | `True` |

In [104]:
# eg: for membership operator
x=['apple','cherry']
print('apple' in x)

True

#### 6. Identity Operators
| Operator | Description                                  | Example      | Result       |
| -------- | -------------------------------------------- | ------------ | ------------ |
| `is`     | True if both refer to the **same object**    | `x is y`     | `True/False` |
| `is not` | True if they do **not** refer to same object | `x is not y` | `True/False` |

In [108]:
# eg: for identity operators
x=['apple','cherry']
y=['apple','cherry']
z=x
print(x is z)    ## x i same as z
print( x is y)   ## y is not same as x, only the content
print(x==y)      ## content same

True
False
True

#### Conditional statements
##### if:     executes if the condition is True
##### elif:   runs if previous is False (else if)
##### else:   executes if all previus are False

In [36]:
# program 1. find a number whether is positive, negative or zero
a = int(input("Enter a number"))
if a>0:
    print("%d is positive"%(a))
elif a<0:
    print("%d is negative"%(a))
else:
    print("%d is zero"%(a))

Enter a number -5

-5 is negative

In [38]:
# program 2. find largest among 3 nums
a = int(input("Enter the first number"))
b = int(input('Enter the second number'))
c = int(input('Enter the third number'))
if a==b and b==c:
    print("all numbers are equal")
if a>b and a>c:
    print("The largest number is %d" %(a))
elif b>c:
    print('The largest number is %d' %(b))
else:
    print('The largest number is %d' %(c))

Enter the first number 6
Enter the second number 18
Enter the third number -2

The largest number is 18

In [40]:
# program 3. display leap year or not
year = int(input("Enter the year"))
if (year%4==0) or (year%400==0):
    print('%d is leap year'%(year))
else:
    print('%d is not leap year'%(year))

Enter the year 2020

2020 is leap year

In [42]:
# program 4. display weekdays
wd = int(input('Enter a number from 1-7: '))
if wd==1:
    print('Monday')
elif wd==2:
    print('Tuesday')
elif wd==3:
    print('Wednesday')
elif wd==4:
    print('Thursday')
elif wd==5:
    print('Friday')
elif wd==6:
    print('Saturday')
elif wd==7:
    print('Sunday')
else:
    print('Invalid day')

Enter a number from 1-7:  6

Saturday

In [50]:
# program  5. nested if: if statement inside if statement itself.
x = 50
if x>10:
    print("%d is above 10" %(x))
    if x>30:                             # prints if above statement is True
        print("and above 30")
    else:
        print("not above 30")

50 is above 10
and above 30

### Loops
##### for:   loops over items in a sequence
##### while: repeats while condition is true

In [48]:
# program 6. find the sum of n natural nums
n = int(input('Enter a limit'))
sum = 0
while n>0:
    sum+=n
    n=n-1
    print('Sum is %d' %(sum))

Enter a limit 6

Sum is 6
Sum is 11
Sum is 15
Sum is 18
Sum is 20
Sum is 21

In [52]:
# program 7. find the reverse of a num
n = int(input('Enter a number'))
reverse = 0
temp = n
while n>0:
    rem = n%10
    reverse = reverse*10 + rem
    n//=10
print('Reverse of %d is %d' %(temp,reverse))

Enter a number 957

Reverse of 957 is 759

In [54]:
# program 8. print multiplication table
n=int(input('Enter the number'))
limit=int(input('Enter the limit'))
for i in range(limit):
    print('%d * %d = %d' %(i*1+1, n, (i*1+1)*n))   #i is zero

Enter the number 5
Enter the limit 10

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [60]:
# program 9. print first 10 natural nums
n=int(input('Enter the number'))
limit=int(input('Enter the limit'))
for i in range(limit):
    print('%d' %(n+i))

Enter the number 1
Enter the limit 5

1
2
3
4
5

In [62]:
#program 10. print even numbers within range
limit=int(input('Enter the limit'))
for i in range(limit):
    if i%2==0:
        print('%d'%(i))

Enter the limit 8

0
2
4
6

In [66]:
#program 11. count the no.of digits in a num
n=int(input('Enter the number'))
count=0
for i in str(n):  # Convert number to string and loop through each digit, coz it is considered as different characters to get the count
    count+=1
    print('%d' %(count))

Enter the number 1000

1
2
3
4

In [68]:
#  program  12. sum of digits
n = int(input(' enter the number'))
sum = 0
for i in str(n):
    sum+=int(i)
    print('%d' %(sum))

 enter the number 46

4
10

In [76]:
# program  13.  display name  &  greeting
fname = input('enter your first name')
lname = input('enter your last name')
fullname = fname + ' ' + lname
print(' Hy %s, how are you?' %(fullname))

enter your first name Christy
enter your last name sara

 Hy Christy sara, how are you?

In [78]:
# program  14. Area of rectangle
b = int(input('enter the length'))
h = int(input('enter the  height'))
Area = 0.5*b*h
print('Area of triangle is %d' % (Area))

enter the length 5
enter the  height 9

Area of triangle is 22

In [82]:
# program  15. print date
year = input('year: ')
month = input('month: ')
day = input('day: ')
print('Date is :', day +'/'+ month +'/'+ year)

year:  2025
month:  11
day:  01

Date is : 01/11/2025

In [84]:
# program  16. print month using the index & date
year = input('year: ')
month = input('month: ')
day = input('day: ')
months = ['january', 'february','march','april','may','june','july','august','september','october','november','december']
monthindex =  int(month)-1
monthoutput = months[monthindex]
print(monthoutput + '  ' + day + ' ' + year)

year:  2001
month:  12
day:  18

december  18 2001

In [88]:
# program  17.  print a program to enter username & password
username = input('username')
password = input('password')
database = [['appu','1234'], ['monu','3579'] ,['chacko', '1000']]
if [username, password] in database:
    print('Access  granted')
else:
    print('Access denied')

username monu
password 3579

Access  granted

#### Loop control statement
##### break: exits the loop immediately
##### continue: skips the current iteration and continues then
##### pass: if the for loop is empty by any chance, add pass statement to avoid error

In [161]:
a = ['apple','cherry','lemon']
for i in a:
    if i=='cherry':
        break
    print(i)

apple

In [163]:
a = ['apple','cherry','lemon']
for i in a:
    if i=='cherry':
        continue
    print(i)

apple
lemon

### Built-in Data structures

| Type    | Description                                    | Example                      |
| ------- | ---------------------------------------------- | ---------------------------- |
| `List`  | Ordered, changeable, allows duplicates            | `my_list = [1, 2, 3]`        |
| `Tuple` | Ordered, **unchangeable**, allows duplicates      | `my_tuple = (1, 2, 3)`       |
| `Set`   | **Unordered**,unchangeable,unindexed & no duplicates                   | `my_set = {1, 2, 3}`         |
| `Dict`  | (Key-value pairs) ordered, changeable & no duplicates | `my_dict = {'a': 1, 'b': 2}` |

### List

In [27]:
x=['apple','lemon','cherry']
print(x[1])                      #indexing
print(len(x))                    #length
x[1:3]

lemon
3

['lemon', 'cherry']

#### List methods

In [39]:
# 1. append()  add an item at the end of list
x=['apple','cherry']
x.append('pineapple')
print(x)

['apple', 'cherry', 'pineapple']

In [41]:
# 2. insert() a new item will be added without replacing existing one
x=['apple','cherry']
x.insert(1,'orange')
print(x)

['apple', 'orange', 'cherry']

In [35]:
# 3.extend() appends a new list(tuple also) to the existing list 
x=['apple','cherry']
y=['lemon','berry']
x.extend(y)
print(x)

['apple', 'cherry', 'lemon', 'berry']

In [77]:
# two lists can joing using +
x=['apple','cherry']
y=['lemon','berry']
z= x+y
print(z)

['apple', 'cherry', 'lemon', 'berry']

In [45]:
# 4. remove() removes the item. If more than one is there, remove the 1st.
x=['apple','lemon','cherry','apple']
x.remove('apple')
print(x)

['lemon', 'cherry', 'apple']

In [47]:
# 5. pop() removes the specified index
x=['melon','orange','cherry']
x.pop(1)
print(x)

['melon', 'cherry']

In [75]:
# del keyword also removes specified index
x=['melon','orange','cherry']
del x[0]
print(x)

['orange', 'cherry']

In [49]:
# 6. clear() empties the list
x=['melon','orange','cherry']
x.clear()
print(x)

[]

In [55]:
# 7. sort() sorts the list albhanumerically ascending
x=['melon','orange','cherry']
x.sort()
print(x)
y = [155, 59, 94,1]
y.sort()
print(y)

# sorting descending use keyword 'reverse=True'
x=['melon','orange','cherry']
x.sort(reverse=True)
print(x)
y = [155, 59, 94,1]
y.sort(reverse=True)
print(y)

['cherry', 'melon', 'orange']
[1, 59, 94, 155]
['orange', 'melon', 'cherry']
[155, 94, 59, 1]

In [57]:
# 8. reverse() reverses the current order
x=['apple','lemon','cherry']
x.reverse()
print(x)

['cherry', 'lemon', 'apple']

In [63]:
# 9. copy() copies a list
x=['apple','lemon','cherry']
y=x.copy()                     # y=list(x) & y=x[:] also copies the list
print(y)

['apple', 'lemon', 'cherry']

In [71]:
# 10. count() returns no. of times a specified item appears
x=['apple','lemon','cherry', 'apple', 'cherry','apple']
print(x.count('apple'))

3

In [73]:
# 11. index() returns the 1st indes of the specified item
x=['lemon','cherry', 'apple', 'cherry','apple']
print(x.index('apple'))

2

### Tuple

In [84]:
a=('apple','banana','plum')
print(a[1])
print(len(a))
print(a[-3:-1])

banana
3
('apple', 'banana')

In [100]:
x=('apple','banana','plum')
y=('lemon',)   # ',' should keep it in the end compulsory or it will become a string.
x+=y
print(x)

('apple', 'banana', 'plum', 'lemon')

##### Tuple is unchangeable (immutable). But, you can convert the tuple into list, change the list & convert it back into tuple.

In [90]:
# example:
x=('apple','banana','plum')
y=list(x)
y[1]='orange'
x=tuple(y)
print(y)

['apple', 'orange', 'plum']

In [92]:
# append
x=('apple','banana','plum')
y=list(x)
y.append('cherry')
x=tuple(y)
print(x)

('apple', 'banana', 'plum', 'cherry')

In [94]:
# remove()
x=('apple','banana','plum')
y=list(x)
y.remove('apple')
x=tuple(y)
print(x)

('banana', 'plum')

In [111]:
# del keyword deletes the tuple completely
x=('apple','banana','plum')
del x

##### unpacking a variable: When we create a tuple, we normally assign values to it; it is called 'Packing'. Extracting these values back into variables can be done in python, this is called 'unpacking'.

In [116]:
# example:
x=('apple','banana','plum')
(red, yellow, orange) = x
print(red)
print(yellow)
print(orange)

apple
banana
plum

#### Usage of Asterisk (*)
##### If the no.of variables is less than the no.of values, add '*' to the variable name and the values will be assigned to the variable as a list.

In [122]:
# example:
x=('apple','banana','lemon','orange')
(red, *yellow, orange) = x
print(red)
print(yellow)
print(orange)

apple
['banana', 'lemon']
orange

#### Tuple methods

In [125]:
# 1. count() returns the no.of times a value occurs
x = ('apple','banana','lemon','apple')
print(x.count('apple'))

2

In [131]:
# 2. index() returns the index no. of 1st occurence
y = (5,6,3,7,3,9)
print(y.index(3))

2

### Set

In [140]:
x = {'apple',True, 1, 'banana'}        # True and 1 are same in set, same as False and 0
print(x)
print(len(x))

{True, 'apple', 'banana'}
3

##### we cannot access the items in the set using the index or a key. But, we can use for loop and print the items in the set.

In [146]:
# example:
a = {'apple','lemon','plum'}
for x in a:
    print(x)           # since the set is unordered,the output is not in order

plum
apple
lemon

#### Set methods

In [151]:
# 1. add()
a = {'apple','lemon'}
a.add('plum')
print(a)

{'plum', 'apple', 'lemon'}

In [185]:
# 2. update() adding 2 sets(can be list, tuple,..) into one
a= {'apple','lemon'}
b= {'cherry','lemon'}
a.update(b)
print(a)

{'cherry', 'apple', 'lemon'}

In [163]:
# 3. discard() deletes the item    # clear(), pop(), remove(), del is also used 
a= {'apple','lemon'}
a.discard('apple')
print(a)

{'lemon'}

In [235]:
# 4. copy() copies the set
a= {'a','b','c'}
x= a.copy()
print(x)

{'a', 'b', 'c'}

In [241]:
# 5. isdisjoint()  returns True if items from 1st set are not present in 2nd. Otherwise, False
a= {'apple','kiwi','lemon'}
b= {'mango','lemon'}
x= a.isdisjoint(b)
print(x)

False

#### Join sets methods

In [227]:
# 1. union()  (|)   returns a new set with items of both the sets
a= {'apple','lemon'}
b= {1,8,5}
c={'john'}
x= a.union(b,c)                    # same as x= a|b 
print(x)

# join set with another datatype
d= {'berry','plum'}
e= [19,45]
y= d.union(e)                     #| doesnt allow to join a set with another datatype
print(y)

{1, 'apple', 5, 8, 'john', 'lemon'}
{19, 'berry', 45, 'plum'}

In [201]:
# 2. intersection() (&)   returns a new set with items that are present in both sets
a= {2,8,4,3}
b={9,7,3,1,2}
x= a.intersection(b)           # x= a&b
print(x)                       # does not join set with another dtype

{2, 3}

In [205]:
# 3. intersection_update()  changes the original set, and keep only the common items from both sets
a= {'a','d','c'}
b={'e','c','b'}
a.intersection_update(b)
print(a)

{'c'}

In [209]:
# 4. Difference()  (-)          returns new set which contain items from 1st set that are not present in 2nd.
a = {'apple','lemon','plum'}
b = {'berry','apple','lemon'}
x = a.difference(b)              # x =a-b
print(x)

{'plum'}

In [221]:
# 5. difference_update()         changes the original set, keep the items of 1st set that are not present in both set
a = {'apple','lemon','plum'}
b = {'berry','apple'}
a.difference_update(b)             
print(a)

{'plum', 'lemon'}

In [229]:
# 6. symmetric_difference()   (^)    returns new set with items that are not common in both sets
a = { 12, 6, 3, 8}
b = {6, 4, 8, 15}
x = a.symmetric_difference(b)
print(x)

{3, 4, 12, 15}

In [231]:
# 7. symmetric_difference_update()   changes the original set with items that are not in both sets
a = {'kiwi','orange','melon'}
b = {'orange','mango','melon' }
a.symmetric_difference_update(b)
print(a)

{'mango', 'kiwi'}

### Dictionary

In [7]:
a = {'brand':'ford','model':'mustang','year':1989}       # key:value
print(a)
print(len(a))
print(a['brand'])

{'brand': 'ford', 'model': 'mustang', 'year': 1989}
3
ford

#### Dict methods

In [13]:
# 1. update() add new items into the dict
a={'brand':'ford'}
a.update({'color':'red'})
print(a)

{'brand': 'ford', 'color': 'red'}

In [19]:
# direct method to add items in dict
a={'brand':'ford'}
a['color']='red'
print(a)

{'brand': 'ford', 'color': 'red'}

In [33]:
# 2. pop() removes specified items
a={'brand':'ford','model':'mustang'}
a.pop('brand')
print(a)

# 3. popitem()    removes last inserted item
a={'brand':'ford','model':'mustang'}
a.popitem()
print(a)

# other method to remove items is del keyword; del and clear() empties the dict also. NOTE: remove() wont support in dict.

{'model': 'mustang'}
{'brand': 'ford'}

In [39]:
# 4. copy()
a= {'brand':'ford','year':1989}
b= a.copy()
print(b)

{'brand': 'ford', 'year': 1989}

#### other important methods in dict:

In [43]:
# 5. get() returs the values by refering its keys inside sq.brackets
a= {'brand':'ford','year':1989}
print(a.get('brand'))

ford

In [45]:
# 6. keys() returs keys in the dict
a= {'brand':'ford','year':1989}
print(a.keys())

dict_keys(['brand', 'year'])

In [47]:
# 7. values() returs the values in the dict
a= {'brand':'ford','year':1989}
print(a.values())

dict_values(['ford', 1989])

In [49]:
# 8. items() each items in a dict as tuples in a list
a= {'brand':'ford','year':1989}
print(a.items())

dict_items([('brand', 'ford'), ('year', 1989)])

In [51]:
# 9. 'in' keyword to determine a specific key in dict
a= {'brand':'ford','year':1989}
if 'model' in a:
    print('yes')
else:
    print('no')

no

## Functions  in  python

##### To create a function, use def keyword
##### To call a function, use function name along with ()
##### Information passed into functions is arguments or parameters. (variables: parameters and actual  values: arguments)

In [11]:
# example
def myfunction(fname):
    print(fname +" "+ 'Lois')
myfunction('Emil')
myfunction('Peter')

Emil Lois
Peter Lois

### Arbitary arguments (* args)
##### A function must be called with correct no. of arguments, or else, error will happen.  If we don't know how many arguments will be passed, use * operator before parameter name in function definition.

In [20]:
# example
def myfunction(* kids):
    print('The youngest child is '+  kids[1])
myfunction('Emil','Peter','Tobias')                     # treated as tuple

The youngest child is Peter

#### Arbitary  keyword  arguments  (** kwargs)
##### Use ** if we don't know how many keyword arguments are passed.  name = value pairs

In [27]:
def myfunction(** kwargs):
    print('His last name is '+ kwargs['lname'])
myfunction(fname = 'riya', lname = 'sara')

His last name is sara

##### Function with return value

In [33]:
def multiply(x,y):
    return x*y
print('Result: ', multiply(3,6))

Result:  18

### Recursion

Recursion is a function that calls itself to solve a problem. Every recursive function has,
Base case: when to stop condition(so it wont call itself forever)
Recursive case: part where function calls itself

In [92]:
# program 18. sum of n natural nums using recursion.
def sum(n):
    if n==0:                                          #base case
        return 0
    else:
        return n+sum(n-1)                            #recursive case
limit = int(input('enter the limit:'))
print(sum(limit))

enter the limit: 7

28

In [98]:
# program 19. Factorial using recursion
def factorial(n):
    if n==0 or  n==1:
        return 1
    else:
        return n* factorial(n-1)
print(factorial(5))

120

In [104]:
# program 20. Fibonacci Sequence using recursion.(  fibonacci sequence is  that each number is the sum of the previous 2 nums)
def fibonacci(n):
    if n<=1:
        return n
    else:
        return fibonacci(n-1) +  fibonacci(n-2)
for i in range(6):
    print(fibonacci(i),end=' ')

0 1 1 2 3 5

In [107]:
# program 21. find the maximum of 3 nums using recursion
def  maxoftwo(x,y):
    if x>y:
        return x
    else:
        return y
def maxofthree(x,y,z):
    return maxoftwo(x,maxoftwo(y,z))
print(maxofthree(2,6,5))

6

In [113]:
# program 22. find sum of all the nums in a given tuple
def sum(numbers):
    total = 0
    for x in numbers:
        total+=x
    return total
print(sum((8,3,5,17,0,22)))

55

##### Lambda function

A lambda function is  a  small anonymous function (function without name).
lambda arguments: expression
A lambda function can take any no.of arguments,  but it can have only one expression.

In [118]:
# example
x = lambda  a,b: a*b
print(x(5,3))

15

In [120]:
# example for lambda fn as an anonymous fn  inside another fn.
def function(n):
    return lambda a:a*n
twotimes = function(2)
threetimes = function(3)
print(twotimes(8))
print(threetimes(11))

16
33

## Object  Oriented  Programming
### classes & objects

##### Use 'class' keyword to create class. It defines attributes(variables) and methods(functions) that its object will  have.
##### An object is an instance  of a class.  we can create multiple objects from a single  class, each with its own data.
##### To create object, define a variable and call class name.

In [11]:
# example
class Car:                                      # class defining
    def __init__(self,brand,color):             #__init__ constructor should call inside the class
        self.brand = brand                      # attribute
        self.color = color                     

    def drive(self):                            # Method
        print(f"{self.color} {self.brand} is driving")

car1 = Car("BMW","Black")                       # create objects
car2 = Car("Tesla","Red")

car1.drive()                                    #  call method
car2.drive()

Black BMW is driving
Red Tesla is driving

 __init__ constructor initializes the new object with any attributes that you want it to have from the start.
self must be the first parameter in any class method. it binds attributes to that particular object, so each object has its own data.

In [14]:
class Person:
    def __init__(self, name, age):
        self.name  = name
        self.age = age
    def  myfunction(self):
        print(f" My name is {self.name}. I'm  {self.age} years old.")

obj =  Person("Christy", 23)
obj.myfunction()

 My name is Christy. I'm  23 years old.

In [22]:
# program 23 create a class representing a  circle. include methods to calculate its  area &  perimeter.
class Circle:
    def __init__(self,radius):
        self.radius  = radius
    def area(self):
        A = 3.14*(self.radius**2)
        return A
    def perimeter(self):
        P = (2*3.14*self.radius)
        return P
radius = int(input('enter the radius:'))
obj = Circle(radius)
A = obj.area()
P = obj.perimeter()
print('area is', A)
print('perimeter is',P)

enter the radius: 5

area is 78.5
perimeter is 31.400000000000002

#### Inheritance
It allows to inherit all  the properties & methods from another class.
###### parent class - base class
###### child class - derived class

###### Add pass statement if the  child class is empty.
######  We can add __init__() function to the child  class, then add a call to the  parent's __init__()  fn.

In [55]:
# program 24
class Person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
    def  printname(self):
        print(self.fname,self.lname)
class Student(Person):
    def __init__(self,fname,lname):
        Person.__init__(self,fname,lname)
obj  = Student('Mike','Joe')
obj.printname()

Mike Joe

In [57]:
# when we use  super()  fn, we dont have to use the name of parent class
# program 25
class Animal:
    def __init__(self,color,breed):
        self.color = color
        self.breed = breed
    def method(self):
        print(self.color, self.breed)
        print(self.birth_date)
class Dog(Animal):
    def __init__(self,color,breed,birth_date):
        super().__init__(color,breed)
        self.birth_date = birth_date
obj = Dog('Black','German_shepherd','05-10-2023')
obj.method()

Black German_shepherd
05-10-2023

In [1]:
# program 26
class Book:
    objcreated =  0
    def __init__(self,bno,bname,auth):
        self.bookno =  bno
        self.bookname = bname
        self.author = auth
        Book.objcreated+=1
    def booklet(self):
        print(self.bookno,':' , self.bookname , 'by' , self.author)
    def totalbook(self):
        print('Total book  objects created = ', Book.objcreated)
A = Book(1, 'pride and prejudice','Jane Austen')
B = Book(2,  'The Alchemist','Paulo Coelho')
A.booklet()
B.booklet()
A.totalbook()
B.totalbook()

1 : pride and prejudice by Jane Austen
2 : The Alchemist by Paulo Coelho
Total book  objects created =  2
Total book  objects created =  2

| Type of Inheritance          | Structure                                 | Example Structure                                                                                                     |
| ---------------------------- | ----------------------------------------- | --------------------------------------------------------------------------------------------------------------------- |
| **Single Inheritance**       | One parent  One child                    | class Parent: <br>pass <br><br> class Child(Parent): <br>pass                                                     |
| **Multilevel Inheritance**   | Parent  Child  Grandchild               | class Grandparent: <br>pass <br><br> class Parent(Grandparent): <br>pass <br><br> class Child(Parent): <br>pass |
| **Multiple Inheritance**     | One child inherits from two parents       | class Parent1: <br>pass <br><br> class Parent2: <br>pass <br><br> class Child(Parent1, Parent2): <br>pass       |
| **Hierarchical Inheritance** | One parent  Many children                | class Parent: <br>pass <br><br> class Child1(Parent): <br>pass <br><br> class Child2(Parent): <br>pass          |
| **Hybrid Inheritance**       | Combination of multiple inheritance types | class A: <br>pass <br><br> class B(A): <br>pass <br><br> class C: <br>pass <br><br> class D(B, C): <br>pass   |

In [10]:
#multiple inheritence example
class car():
    def benz(self):
        print('This is  benz')
class  bike():
    def bmw(self):
        print('This is  bmw')
class  bus():
    def volvo(self):
        print('This is volvo bus')
class truck():
    def eicher(self):
        print('This  is eicher truck')
class transport(car,bike,bus,truck):
    def main(self):
        print('This is  main class')
B = transport()
B.benz()
B.bmw()
B.volvo()
B.eicher()
B.main()

This is  benz
This is  bmw
This is volvo bus
This  is eicher truck
This is  main class

In [17]:
# multilevel inheritance  example
class vehicle:                               #grandparent
    regno = ' '
class  lmv(vehicle):                         #parent
    company = ' '
class  car(lmv):                             #child
    color = ' '
    model = ' '
    def __init__(self,regno,company,color,model):
        self.regno =  regno
        self.company = company
        self.color = color
        self.model = model
    def disp(self):
        print('details: REG: '+ self.regno + ' model '+'from ' + self.company + ' color:  '+self.color)
C1 = car('KL-07-2523','maruti','silver','XUV')
C2 = car('KL-03-5677','Volswagen','blue','polo')
C1.disp()
C2.disp()

details: REG: KL-07-2523 model from maruti color:  silver
details: REG: KL-03-5677 model from Volswagen color:  blue

##### Destructor: __del__() method is used  when an instance is about  to be destroyed, which is  called  destructor

In [31]:
class car():
    def __init__(self,company,model):
        self.company = company
        self.model  = model
        print('A new obj is created')
    def  showdetails(self):
        print(self.model + ' ' + ' from ' + ' ' + self.company)
    def __del__(self):
        print('An obj destroyed')
C1 = car('Tata','Tiger')
C1.showdetails()
del C1
C2 = car('suzuki','baleno')
C2.showdetails()
del C2
C3 = car('Toyota','Fortuner')
C3.showdetails()

A new obj is created
Tiger  from  Tata
An obj destroyed
A new obj is created
baleno  from  suzuki
An obj destroyed
A new obj is created
An obj destroyed
Fortuner  from  Toyota

###### Method overloading: Having same methods with different parameters in a class. However, Python doesn't support method overloading. it overwrites the method, and only the last one will print. Hence, it provides an error. The following code is an example.

In [ ]:
class car:
    def __init__(self,a,b):
        self.x = a
        self.y = b
    def add(self):
        print(a+b)
    def add(self,p):
        print(a+p+b)
    def add(self,p,q):
        print(a+p+q+b)
c1 = car(5,6)
c1.add()
c1.add(3)
c1.add(3,7)

###### Opeartor overloading: Giving extended meaning to operators, beyond their predefined opeartional meaning.

In [17]:
print('Operator overloading on +')
n1 = 8
n2 = 2
print('Adding  integers: ' + str(n1+n2))
str1 = 'Welcome '
str2 =  'to '
str3 = 'Gisma '
print('Adding string: '+ str1+ str2+ str3)
print('Operator overloading on  *')
print('Multiplying integers:  ' +str(n1*n2))
print('Multiplying string: ' +str3 *4)

Operator overloading on +
Adding  integers: 10
Adding string: Welcome to Gisma
Operator overloading on  *
Multiplying integers:  16
Multiplying string: Gisma Gisma Gisma Gisma

In [19]:
#  overloading the binary + opeartor in python
class vector:
    def __init__(self,x,y):
        self.x =  x
        self.y =  y
    def __add__(self,other):
        return  vector(self.x  + other.x, self.y + other.y)
    def __str__(self):
        return f'({self.x},{self.y})'
v1 =  vector(4,8)
v2 = vector(3,-6)
v3  = v1+v2
print(v3)

(7,2)

### File handling

#####  Python gives built-in functions to create, read, write, and delete files. The key function is open() fn, which takes 2 parameters: filename & mode. 4 different mode foropening a  file are:
| Mode   | Meaning                                         |
| ------ | ----------------------------------------------- |
| `"r"`  | Read (default). File must exist.                |
| `"w"`  | Write. Creates new file or overwrites existing. |
| `"a"`  | Append. Creates the  file if  it doesn't  exists. Adds new content at end.                |
| `"x"`  | Create. Fails if file already exists.           |
| `"b"`  | Binary mode (e.g., `"rb"`, `"wb"`,`"rt"`,`"wt"`). t indicates text, which is default value, r  and w are read and write.         |

In [1]:
# writing, reading and  closing a file
f = open('demofile.txt',"w")
f.write('This is the first line')
f.close()
f = open('demofile.txt',"r")
print(f.read())
f.close()

This is the first line

In [3]:
# appending to  a file
f =  open('demofile.txt',"a")
f.write('\nHere comes  the second')          
f.close()
f = open('demofile.txt',"r")
print(f.read())
f.close()

This is the first line
Here comes  the second

In [20]:
# readline() returns one  line
f =open('demofile.txt',"r")
print(f.readline())
f.close()

This is the first line

In [5]:
# delete a file: to delete,  import  os module and run os.remove() fn
with open("demofile.txt", "w") as f:                           # with statement  makes  the  file auto close
    f.write("Hello")
    
import  os
if os.path.exists('demofile.txt'):                             #checking  wheather the file exists or not
    os.remove('demofile.txt')
    print('File deleted')

File deleted

#### Exception handling in python
| Keyword   | Purpose                            |
| --------- | ---------------------------------- |
| `try`     | test the  code for  exception |
| `except`  | Handles the exception              |
| `else`    | Executes if no exception occurs    |
| `finally` | Executes no matter what            |
| `raise`   | Manually raise an exception        |

In [31]:
def demo():
    try:
        num = int(input('enter a num to divide  5 by: '))

        if  num < 0:
            raise ValueError('Negative  nums are not allowed')

        result = 5/num
    except ValueError as ve:
        print('value error: ',ve)
    except ZeroDivisionError:
        print('cannot divide by zero')
    except Exception as e:                             
        print("Some other error occurred:", e)
    else:
        print('divison successful!  Result =', result)
    finally:
        print('execution completed')
demo()

enter a num to divide  5 by:  275

divison successful!  Result = 0.01818181818181818
execution completed

#### Polymorphism: it  means many forms

In [35]:
# function polymorphism: uses len() fn and return the no.of characters for different data types.
print(len("Hello"))                                    # string length
print(len([1,2,3,4]))                                  # list length

5
4

In [39]:
#class polymorphism: method overriding. same method uses  in different classes( Note: it is not method overloading)
class Animal:
    def speak(self):
        print("Some sound")

class Dog(Animal):
    def speak(self):
        print("Woof Woof!")

class Cat(Animal):
    def speak(self):
        print("Meow!")

animals = [Dog(), Cat(), Animal()]
for a in animals:
    a.speak()

Woof Woof!
Meow!
Some sound

####  Data Abstraction: hiding the details and showing only what is necessary.

In [54]:
class student:
    __totalcount =  0                                    # private  class variable
    def  __init__(self,name):
        self.name = name
        student.__totalcount+=1
    def showname(self):
        print('name: ',self.name)
    def  totalstudents():
        print('students reg: ',student.__totalcount)
class mystudent(student):
    def __init__(self,name):
        super().__init__(name)
s1 = mystudent('Elsa')
s2 = mystudent('Sam')
s1.showname()
s2.showname()
student.totalstudents()

name:  Elsa
name:  Sam
students reg:  2

To hide the private class  variable, add underscore as a prefix to the attributes. In the above  example, __totalcount  is the private class.

Other examples in python

In [3]:
# program 27: find the simple interest by accepting principal amount, no:of years &  rate of interest.
p = int(input('enter the principal  amount: '))
n = int(input('enter  the year: '))
r = float(input('enter the rate of interest: '))
s = (p*n*r) / 100
print('simple  interest is  %f' %s)

enter the principal  amount:  2800000
enter  the year:  4
enter the rate of interest:  10.45

simple  interest is  1170400.000000

Program 28: Accept  a string 'open source lab' from the keyboard &  perform the following operations.
a) length of string. b) take substring 'source' in string. c)repeat string 3  times. d)print characters in vertical and horizontal.
e) character in 4th position. f) extract 4 char from index 6. g) print all characters except last 2. h)append another string 'programs' 1 to existing.
i)change  'e'  to '&'. j)split string using 'o'. k) join stung using '#'. l) count no:of space, digits, alphabets.

In [9]:
n =  str(input('enter string: '))
l = len(n)
print('length: ',l)
sub =  n[5:11]
print('sub is:', sub)
r = n * 3
print('3  times: ', r)
print('verti: ')
for i in n:
    print(i)
print('horiz: ',n)
print('4th  character: ',n[3])
print('4 characters  from index 6: ',n[6:10])
print('all char except last  2: ',n[:13])
print('appending :',   n+' programs')
print('changing :', n.replace('e','&'))
print('splitting :',n.split('o'))
print('join: ','#'.join(n))
digit = 0
letter = 0
space = 0
other =  0
for i in n:
    if i.isalpha():
        letter  =letter+1
    elif i.isdigit():
        digit = digit+1
    elif i.isspace():
        space = space+1
    else:
        other = other+1
print('digits: ',digit)
print('alpha: ',letter)
print('space: ',space)

enter string:  open source lab

length:  15
sub is: source
3  times:  open source labopen source labopen source lab
verti:
o
p
e
n

s
o
u
r
c
e

l
a
b
horiz:  open source lab
4th  character:  n
4 characters  from index 6:  ourc
all char except last  2:  open source l
appending : open source lab programs
changing : op&n sourc& lab
splitting : ['', 'pen s', 'urce lab']
join:  o#p#e#n# #s#o#u#r#c#e# #l#a#b
digits:  0
alpha:  13
space:  2

In [5]:
# program 29: check whether the given number is Armstrong or not
def arms(n):
    s = 0
    while  n>0:
        r = int(n%10)                                                 # get the last digit
        s = int(s+(r*r*r))                                            # cube the digit and add to sum  
        n = int(n/10)                 
    return s
n = int(input('enter the  num: '))
temp = n
s =  arms(n)
if temp==s:
    print('%d is armstong' %(temp))
else:
    print('%d  is  not  armstrong' %(temp))

enter the  num:  153

153 is armstong